*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Roboto', sans-serif;
}
.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}
.codar {
    color: #D6000D;
}
span{
    color: black;
    border-radius: 50px; 
}
.nav ul li{
    list-style: none;
    padding: 10px;

}
.nav a {
    text-decoration: none;
    color: black;
}
.nav ul {
    display: flex;
}
#login {
    border-radius: 5px;
    transition: 0.5s;
    background-color: #D6000D;
    width: 100px;
    text-align: center;
   
    
 
}
#text a {
    color: white;
}
nav #login:hover{
    background-color: #a3010c;
    transform: rotate(5deg);
}

section {
    width: 100%;
    height: 100%;
    margin-top: 150px;
}
section img {
    width: 100%;
    max-width: 100%;
    width: 350px;
}
.section {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.a{
    display: inline-block;
    border-radius: 5px;
    transition: 0.5s;
    background-color: #D6000D;
    padding: 8px 35px;
    height: 35px;
    text-decoration: none;
    color: white;
    margin-top: 50px;
    
}
.main-text .a:hover{
    background-color: #a3010c;
    transform: rotate(5deg);
}
.main-text h1 {
    color: #D6000D;
}
.main-text p {
    font-weight: 700;
}
.todo {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
nav ul li {
    padding-top: 20px;
}
.contacto{
    margin-left: 150PX;
}
.contacto p{
    font-weight: 700;
}
.contacto input{
    border-radius: 5px;
    background-color: #DCDCDC;
    margin: 10px 0;
    padding: 0 5px;
    width: 170px;
    height: 35px;
}
.contacto button{
    border: none;
    border-radius: 5px;
    background-color: #d6000d;
    width: 180px;
    height: 35px;
    color: #fff;
    cursor: pointer;
    transition: background 0.5s, transform 0.2s;
}
.contacto button:hover {
    background-color: #a3010c;
    transform: scale(1.1);
}
.card{
    display: flex;
    justify-content: space-evenly;
    font-size: 14px;
    align-items: center;
    margin-top: 120px;
}
.card1{
    background-color: #DCDCDC;
    padding: 5px 45px;
    border-radius: 5px;
    margin: 10px 10px 0 10px;
    height: 210px;
    width: 40%;

}
.card2{
    background-color: #DCDCDC;
    padding: 5px 45px;
    border-radius: 5px;
    margin: 10px 10px 0 10px;
    height: 210px;
    width: 40%;

}
.list nav ul {
    list-style: none;
}
.fas{
    background-color: #D6000D;
    color: white;
    border-radius: 60%; 
    margin-right: 20px;
}
.info{
    float: right;
    width: 70%;
    margin-top: -100px;
}
.perfil {
    background-color: #d6000d;
    background-size: cover;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    margin-top: 70px; 
    
}
.footer{
    display: flex;
    padding: 50px 60px;
    background-color: #000;
    color: #fff;
    margin-top: 70px;
}
i{
    color: #D6000D;
}


